.vs/
jr_api/appsettings.json
jr_api/obj/jr_api.csproj.nuget.dgspec.json
jr_api/obj/jr_api.csproj.nuget.g.props
jr_api/obj/jr_api.csproj.nuget.g.targets
jr_api/obj/project.assets.json
jr_api/obj/project.nuget.cache
jr_api/obj/Debug/net8.0/jr_api.AssemblyInfo.cs
jr_api/obj/Debug/net8.0/jr_api.AssemblyInfoInputs.cache
jr_api/obj/Debug/net8.0/jr_api.assets.cache
jr_api/obj/Debug/net8.0/jr_api.csproj.AssemblyReference.cache
jr_api/obj/Debug/net8.0/jr_api.csproj.CoreCompileInputs.cache
jr_api/obj/Debug/net8.0/jr_api.csproj.FileListAbsolute.txt
jr_api/obj/Debug/net8.0/jr_api.dll
jr_api/obj/Debug/net8.0/jr_api.GeneratedMSBuildEditorConfig.editorconfig
jr_api/obj/Debug/net8.0/jr_api.genruntimeconfig.cache
jr_api/obj/Debug/net8.0/jr_api.MvcApplicationPartsAssemblyInfo.cs
jr_api/obj/Debug/net8.0/jr_api.pdb
jr_api/obj/Debug/net8.0/jr_api.sourcelink.json
jr_api/obj/Debug/net8.0/staticwebassets.build.json
jr_api/obj/Debug/net8.0/staticwebassets.development.json
jr_api/obj/Debug/net8.0/staticwebassets.pack.json
jr_api/obj/Debug/net8.0/ref/jr_api.dll
jr_api/obj/Debug/net8.0/refint/jr_api.dll
jr_api/obj/Debug/net8.0/staticwebassets/msbuild.build.jr_api.props
jr_api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.jr_api.props
jr_api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.jr_api.props
jr_api/obj/Debug/net8.0/staticwebassets/msbuild.jr_api.Microsoft.AspNetCore.StaticWebAssets.props
jr_api/bin/Debug/net8.0/appsettings.json
jr_api/bin/Debug/net8.0/jr_api.deps.json
jr_api/bin/Debug/net8.0/jr_api.dll
jr_api/bin/Debug/net8.0/jr_api.pdb
jr_api/bin/Debug/net8.0/jr_api.staticwebassets.runtime.json
.vs/jr_api/xs/UserPrefs.xml
